@using ShopASPNETCore.Data.Models
@model HomeViewModel

<div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
    @{
        foreach(TasksList lst in Model.allLists)
        {
            @Html.Partial("ListObjForHome", lst);
        }
    }
</div>

<div >
    <br />
    <a asp-controller="TasksListAdd" asp-action="AddList" class="btn btn-primary w-50">Добавить новый список задач</a>
</div>           