@model ShopASPNETCore.Data.Models.TasksList

<form asp-controller="TasksListAdd" asp-action="AddList" class="need-validation method="post">
    <div class="col-md-7 col-lg-8">

        <h4 class="mb-3">Введите инофрмацию о списке задач</h4>

        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label">Название</label>
                <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Название занято.
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-sm-6">
                <label class="form-label">Название на англ.</label>
                <input type="text" class="form-control" id="ListName" asp-for="ListName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Название занято.
                </div>
            </div>
        </div>
    </div>

    <input type="submit" value="Сохранить" />
</form>